.user{
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.img-cover {
    width: 35%;
    height:auto;
    border:2px blue solid;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 30px;
  
    
    
}

.container-u{

    background:#1b1b7b ;
    height: 30vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #cbc7d5;
    margin-top: 20px;
    
    width:90%;
    margin: auto;
    margin-top: 3rem;


}

.container-u h2{
    margin-top: 10px;
}



.container-u h5{
    color: rgb(218, 54, 54);
    margin: 7px;
   margin-top: 50px;
   
}

@media (max-width:1024px){
    .container-u{
        font-size: 1.5rem;
    }
    .img-cover{
        width: 75%;
    }
}

@media (max-width:600px){
     .container-u{
        font-size: 1.07rem;
    }
    .img-cover{
        width: 75%;
    }
}