footer{
    background: var(--color-primary);
    padding: 40px 0;
    text-align: center;
    font-size: 14px;
   margin-top: 1000px;
   padding-top: 20px;
}

footer a{
    color: var(--color-bg);
    
}

.footer-logo{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
    display: block;

}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
    font-size: 1.1rem;
    
}

.footer-icons{
    display: flex;
    justify-content: center;
    gap: 1.1rem;
    font-size: 1.8rem;
    margin-bottom: 35px;
    margin-top: 10px;
   /* border-top: 5px solid black; */
   
   
   
}

.footer-icons a{
    color: var(--color-bg);
    background: var(--color-white);
    padding: 12px;
    border-radius: 10px;
    display: flex;
    border: 1px solid transparent;
    transition: var(--transition);

}

.footer-icons a:hover{
    transform: scale(1.3);
    transition: .4s ease;
}
@media(max-width:1024px){
    footer{
        margin-top:125rem ;
    }
}
@media (max-width:600px){
    footer{
        margin-top:150rem ;
    }
}