nav{
    background: rgba(0,0,0,.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 10;
    position: fixed;
    left: 50%;
    bottom: 2rem;
    transform: translatex(-50%);
    display: flex;
    gap: 0.9rem ;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    gap: .8rem;
    border-radius: 50%;
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    
}

nav a.active{
    background: #4db5ff;
    color: #fff;
    padding: 2px;
}

nav a:hover{
    /* background: rgba(0,0,0,.3); */
    color: rgba(0,0,0,.3) ;
    transform: scale(1.2);
    transition: .3s ease;
}

@media (max-width:600px){
    nav{
        padding:  0.9rem 1.7rem;
    }

    nav a{
        font-size: 1.8rem;
    }
}